.hero {
    display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 80px 300px;
  background-color: rgb(22, 44, 61);
  color: white;
}

.hero-text {
  max-width: 400px;
}

.placeholder {
  width: 300px;
  height: 200px;
  background-color: gray;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.nav-links a {
  color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 200px;
  background-color: rgba(22,44,61);
  color: white;
}

.logo {
  color: white;
}
